@charset "UTF-8";

@font-face {
  font-family: "BeaufortforLOL-Bold";
  font-display: swap;
  src: url("../fonts/BeaufortforLOL-Bold.woff") format("woff"), url("../fonts/BeaufortforLOL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* Global */

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #D3D3D3;
  background-color: #14181C;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  width: 165px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: background-image .3s ease;
  -o-transition: background-image .3s ease;
  transition: background-image .3s ease;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

/*--------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header-top {
  background-color: #14181C;
}

.header-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo-wrap {
  padding-right: 21px;
  border-right: 1px solid #262D32;
}

.header-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo img {
  height: 51px;
  width: 51px;
}

.header-top__logo span {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: calc(24 / 19);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#610404), to(#DC2810));
  background-image: -o-linear-gradient(top, #610404, #DC2810);
  background-image: linear-gradient(to bottom, #610404, #DC2810);
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
}

.header-top__list li {
  margin: 0 15px;
}

.header-top__link {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: inherit;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.header-top__link:hover {
  color: #FF9D47;
}

.header-top__link._has-menu {
  padding-right: 23px;
  position: relative;
}

.header-top__link._has-menu::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 10.4px;
  background-repeat: no-repeat;
  background-image: url("../img/header/arrow.svg");
}

.header-top__links {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__login {
  margin-right: 55px;
}

.header-top__login a {
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.header-top__login a:hover {
  color: #FF9D47;
}

.header-top__language {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: calc(17 / 14);
  cursor: pointer;
  position: relative;
  padding: 0 23px 0 24px;
}

.header-top__language::before,
.header-top__language::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.header-top__language::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/header/planet.svg");
  left: 0;
  top: 0px;
}

.header-top__language::after {
  width: 13px;
  height: 10.4px;
  background-image: url("../img/header/arrow.svg");
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.header-bottom {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  top: -200px;
  width: 100%;
  left: 0;
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
  background: rgba(23, 23, 23, 0.3);
}

.header-bottom._fixed {
  position: fixed;
  top: 0;
}

.header-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header-bottom__nav {
  margin-right: auto;
}

.header-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.header-bottom__list li {
  margin: 0 14px;
  padding-right: 35px;
  position: relative;
}

.header-bottom__list li::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border: 1px solid #C4C4C4;
}

.header-bottom__list li:last-child::before {
  display: none;
}

.header-bottom__link {
  padding-bottom: 16px;
  padding-top: 17px;
  font-family: 'BeaufortforLOL-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: inherit;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.header-bottom__link:hover {
  color: #FF9D47;
}

.header-bottom__link._active {
  color: #FF9D47;
  text-shadow: 0px 0px 4px #e27b01;
  border-bottom: 1px solid #FF9D47;
}

.header-bottom__btn {
  background-image: url("../img/header/btn-bg.png");
}

.header-bottom__btn:hover {
  background-image: url("../img/header/btn-bg-hover.png");
}

.game-info {
  padding-top: 235px;
  padding-bottom: 295px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.game-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-info__logo {
  margin-bottom: 35px;
}

.game-info__title {
  font-family: 'BeaufortforLOL-Bold', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: calc(63 / 50);
  max-width: 60%;
  text-align: center;
}

.game-separator {
  margin-bottom: 64px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.game-separator__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 80px;
}

.game-separator__text {
  margin-right: auto;
  font-weight: 600;
  font-size: 23px;
  line-height: calc(28 / 23);
}

.game-separator__text span {
  color: #FF9D47;
}

.game-separator__btn {
  background-image: url("../img/game/btn-sep.png");
}

.game-separator__btn:hover {
  background-image: url("../img/game/btn-sep-hover.png");
}

.game-slider {
  padding-bottom: 91px;
  position: relative;
}

.game-slider::before {
  content: '';
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  width: 100%;
  height: 68px;
  background-image: url("../img/game/bottom.png");
}

.game-slider:hover .slick-arrow {
  opacity: 1;
}

.game-slider__body {
  position: relative;
}

.game-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.game-slider .slick-dots li {
  margin: 0 35.5px;
}

.game-slider .slick-dots li.slick-active button {
  background: rgba(230, 230, 230, 0.6);
}

.game-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: rgba(106, 106, 106, 0.5);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

.game-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  width: 20px;
  height: 55px;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.game-slider .slick-prev {
  background-image: url("../img/game/arrow-prev.svg");
  left: -45px;
}

.game-slider .slick-next {
  background-image: url("../img/game/arrow-next.svg");
  right: -45px;
}

.webp .header-bottom__btn{ background-image: url(../img/header/btn-bg.webp); }

.webp .header-bottom__btn:hover{ background-image: url(../img/header/btn-bg-hover.webp); }

.webp .game-separator__btn{ background-image: url(../img/game/btn-sep.webp); }

.webp .game-separator__btn:hover{ background-image: url(../img/game/btn-sep-hover.webp); }

.webp .game-slider::before{ background-image: url(../img/game/bottom.webp); }